<h1>Welcome to our Website</h1>

<p>Today is <strong><%= Date.today %></strong></p>

<!-- example of embeded ruby <%= %> and <% %> -->

<p>Date: <em><%= @time %></em></p>

<form action="/contact" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?">
  <input type="submit">
</form>

